.shopname{
    background-color: #D91656;
    color: white;
    margin: 0px;
    padding : 4px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adds space between items in the flex container */
    justify-content: center; /* Optional: Aligns products to the center */
}

.shopname{
    background-color: #EB5B00;
}

@media (max-width: 768px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }
    .product-image {
        width: 100%;
        height: 200px; /* Ensure consistent image height */
        object-fit: contain; /* Contain the image inside the specified height and width */
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
}

.slider-container{
    margin: 0;
    padding: 0;
}


.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 categories per row */
    gap: 20px; /* Space between categories */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.category-container div {
    text-align: center; /* Center align category text and image */
}