.searchbar{
    display : flex;
    align-items : center;
    margin-bottom : 1rem;
}

.searchbarinput{
    padding: 0.5rem;
    font-size: 1re;
    flex-grow: 1;
    margin-right: 0.5rem;
    border: 1px solid black;
    border-radius: 15px;
    width : 500px;
}

.handleClearbutton{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: #D91656;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}